<!-- <link href="../styles.css" rel="stylesheet" type="text/css"> -->

<!-- Required meta tags -->
<div class = "results">
<body background ="/static/add.png" class="img-fluid" alt="Responsive image">

  <div id="mario-chat">
      <h2>RESTAURANT CHAT</h2>
      <div id="chat-window">
          <div id="output"></div>
      </div>

      <input id="handle" type="text" value="{{username}}" />
      <input id="message" type="text" placeholder="Message" />
      <button id="send">Send</button>
  </div>




<h2>Write Your Own Review</h2>
<form class= 'revForm' action="/submit_review/{{id}}" method="POST">
  <label>Title: </label><br>
  <input type="text" name="title"><br>
  <label>Stars:</label>
  <select name="stars">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select><br>
  <label>Contents:</label><br>
  <textarea name="review" cols="40" rows="6"></textarea><br>
  <button type="submit">Submit</button>
</form>

<div class="newform_div">
    <h1 id = list>Restaurant Reviews</h1>
    <div class="container-fluid" style="border:4px solid green;">
    <h5>Name: {{first.restaurant_name}}</h5>
    <p>Address: {{first.address}}</p>
    <p>Category: {{first.category}}</p>

        {{#each results}}
        <div class="container-fluid" style="border:2px solid green;">
        <p>Reviewer Name: {{name}}</p>
        <h5>Title: {{title}}</h5>
        <p>Stars: {{stars}}</p>
        <p>Review: {{review}}</p>
        </div>
        {{/each}}
</div>
  </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>


<script>

// Make connection
var socket = io.connect();

// Query DOM
var message = document.getElementById('message'),
      handle = document.getElementById('handle'),
      btn = document.getElementById('send'),
      output = document.getElementById('output');

// Emit events
btn.addEventListener('click', function(){
  socket.emit('chat', {
      message: message.value,
      handle: handle.value
  });
  message.value = "";
});

// Listen for events
socket.on('chat', function(data){
    output.innerHTML += '<p><strong>' + data.handle + ': </strong>' + data.message + '</p>';
});

</script>
</body>
